.menus_list {
  background-color: $colour-cards;
  border-radius: 20px 20px 0 0;
  margin-top: -30px;
  position: relative;
  @media screen and (min-width: 1024px) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.menus_list__block {
  @include width_page;
  padding-top: 1rem;
  padding-bottom: 3rem;
  position: relative;
  z-index: 1;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.resto_name_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.resto_recipe {
  @media screen and (min-width: 1024px) {
    display: flex;
    gap: 1rem;
  }
}
.resto_name {
  @include font--logo;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.entreePlatDessert {
  @media screen and (min-width: 1024px) {
    width: 35%;
  }
}

.entreePlatDessert h4 {
  font-weight: 100;
  font-family: "Roboto", sans-serif, "Trebuchet MS", Arial, Helvetica,
    sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.dash {
  display: flex;
  height: 3px;
  width: 30px;
  background-color: $colour-tertiare;
  margin-bottom: 1.5rem;
}

.card_recipe {
  padding: 0.75rem;
  border: none;
  color: #000;
  background-color: $colour-cards;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  margin-bottom: 1rem;
  border-radius: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  //==========Effect at the refresh of the page==========
  animation: card_recipeFadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transform: translateY(100px);
  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.329);
    transition: 0.5s;
    //==========Effect to shift the green container (shift it from its own width)==========
    .checked {
      animation: move 600ms linear forwards, fadeIn 1s forwards;
    }
    .recipeBaseline {
      transition: 1s;
      padding-right: 3.5rem;
    }
    h4 {
      transition: 1s;
      padding-right: 3.5rem;
    }
  }
  h4 {
    text-align: left;
    font-size: 1.125rem;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
  }
}

.recipeBaseline {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  .dish {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.checked {
  width: 3.5rem;
  height: 100%;
  background-color: $colour-tertiare;
  border-radius: 0 1rem 1rem 0;
  position: absolute;
  right: -3.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  //==========Effect to shift the green container (depart non visible)==========
  opacity: 0;
  i {
    margin: 0;
    color: white;
    font-size: 1.25rem;
    transform: rotate(-359deg);
  }
}

//==========Effect at the refresh of the page==========
@keyframes card_recipeFadeIn {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

//==========Effect to shift the green container (shift it from its own width)==========
@keyframes move {
  0% {
    transform: translateX(-1rem);
  }
  50% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(-3.5rem);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

//==========Effect to spin the check cross==========
.card_recipe:hover i {
  transform: translateX(-3.5rem);
  animation: spin 600ms linear forwards;
}
@keyframes spin {
  0% {
    transform: rotate(-359deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
