.cards {
  width: 90%;
  margin: 3rem auto;
  max-width: 1024px;
  &--colored {
    background-color: $colour-tertiare;
  }
  &_container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 920px) {
      flex-direction: row;

      gap: 2rem;
      &_wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

.card__text {
  &::before {
    @include fontAwsome;
    content: "\f3cd";
    font-weight: 900;
    margin-right: 1rem;
    width: 1rem;
  }
  &::after {
    content: "🌸";
    color: transparent;
    font-weight: 900;
    margin-left: 1rem;
    width: 1rem;
  }
}
