@charset "UTF-8";
body {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn {
  border: none;
  color: #f6f6f6;
  background-color: #f6f6f6;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: bold;
  transition: transform 1000ms ease-in-out;
}
.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.329);
  transform: scale(1.2);
  background-image: linear-gradient(-10deg, #a782d4, #ffa2e5);
}
.btn--mb {
  margin-top: 0.5rem;
}
.btn--full-width {
  width: 100%;
}
.btn--purple {
  background-image: linear-gradient(-10deg, #9356dc, #ff79da);
}
.btn--sizeS {
  padding: 0.75rem 1.5rem;
  border-radius: calc(40px/2);
}
.btn--sizeL {
  padding: 1rem 2.5rem;
  font-size: 1.25rem;
  border-radius: calc(56px/2);
}
.btn--blue {
  border: none;
  color: blue;
  background-color: #f6f6f6;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: bold;
  transition: transform 1000ms ease-in-out;
}
.btn--blue:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.329);
  transform: scale(1.2);
  background-image: linear-gradient(-10deg, #a782d4, #ffa2e5);
}
.btn--blue--mb {
  margin-top: 0.5rem;
}
.btn--blue--full-width {
  width: 100%;
}
.btn--blue--purple {
  background-image: linear-gradient(-10deg, #9356dc, #ff79da);
}
.btn--blue--sizeS {
  padding: 0.75rem 1.5rem;
  border-radius: calc(40px/2);
}
.btn--blue--sizeL {
  padding: 1rem 2.5rem;
  font-size: 1.25rem;
  border-radius: calc(56px/2);
}

.list {
  padding: 0.75rem;
  border: none;
  color: #000;
  background-color: #f6f6f6;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: 600;
  position: relative;
}
.list:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.329);
  transition: 0.5s;
  background-color: #f5edff;
}
.list:hover i {
  color: #9356DC;
}
.list::before {
  position: absolute;
  left: -0.5rem;
  top: 1.5rem;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  text-align: center;
  line-height: 1.1rem;
  background-color: #9356DC;
  color: #f6f6f6;
}
.list:nth-of-type(1)::before {
  content: "1";
}
.list:nth-of-type(2)::before {
  content: "2";
}
.list:nth-of-type(3)::before {
  content: "3";
}
.list--mb {
  margin-bottom: 1rem;
}
.list--full-width {
  width: 100%;
}
.list--rounded {
  border-radius: 1rem;
}
.list--flex-row {
  display: flex;
  align-items: center;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  animation: spin 1s linear infinite, fadeOut 3s forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.accueil,
.headerLoader,
.location,
.list__block,
.bg--color--full-width,
.footerLoader {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
.header {
  text-align: center;
  border-bottom: solid 3px #dfdfdf;
}
@media screen and (min-width: 1024px) {
  .header {
    border-bottom: solid 1px transparent;
  }
}

.header {
  font-family: "Shrikhand", cursive;
  color: #3e3e3e;
  font-size: 1.5rem;
  padding: 0.75rem;
}
@media screen and (min-width: 1024px) {
  .header {
    font-size: 2.5rem;
  }
}
.header a {
  color: #3e3e3e;
  text-decoration: none;
}
.header i {
  font-size: 1rem;
  position: absolute;
  left: 1rem;
  top: 1.41rem;
}
@media screen and (min-width: 1024px) {
  .header i {
    font-size: 1.5rem;
    top: 1.9rem;
  }
}

.location {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ededed;
  font-size: 0.8rem;
  color: #555454;
}
.location::before {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
  margin-right: 0.75rem;
  font-size: 1rem;
}
.location::after {
  content: "🌸";
  color: transparent;
  font-weight: 900;
  margin-left: 0.75rem;
  width: 1rem;
}

.accueil {
  text-align: center;
  background-color: #f6f6f6;
  padding: 2rem;
}
.accueil__titre {
  font-size: 1.5rem;
  margin-top: 0;
}
.accueil__sousTitre {
  font-size: 0.8rem;
  color: #999999;
}
.accueil--back-coloured {
  background-color: #f6f6f6;
}
.accueil--fiche_resto {
  height: 16rem;
}
.accueil--fiche_resto img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.list__block {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 1024px) {
  .list__block {
    width: 70%;
  }
}

.list i {
  width: 5rem;
  color: grey;
}

.list__text {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list__container {
    display: flex;
    gap: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .list__restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}

.bg--color--full-width {
  width: 100%;
  background-color: #f6f6f6;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #9da2ab;
  text-decoration: none;
  margin-bottom: 1.5rem;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .card {
    width: 47%;
  }
}

.card img {
  width: 100%;
  height: 13rem;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.nouveau {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #99e2d0;
  color: #278870;
  padding: 0.5rem;
}

.titre_du_bas {
  color: rgba(0, 0, 0, 0.589);
  min-height: 50px;
  padding: 2px 16px;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.titre_du_bas h4 {
  color: #000;
  font-weight: 700;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.titre_du_bas p {
  font-weight: 100;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.589);
}

.heart_fill {
  font-size: 30px;
  display: none;
  animation: fadeIn 1s forwards;
}

.heart_empty {
  font-size: 30px;
  color: grey;
}
.heart_empty:hover {
  color: transparent;
}
.heart_empty:hover .heart_fill {
  color: #9356DC;
  background-image: linear-gradient(-10deg, #a782d4, #ffa2e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  margin-top: -29px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
footer {
  background-color: #353535;
}

.footer_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .footer_container {
    align-items: center;
  }
}
.footer_container h4 {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.footer_container ul {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
  line-height: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .footer_container ul {
    display: flex;
    gap: 5rem;
  }
}
.footer_container li {
  text-decoration: none;
}

.icon1::before {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
  margin-right: 0.75rem;
  font-size: 1rem;
}

.icon2::before {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
  margin-right: 0.75rem;
  font-size: 1rem;
}

.contact {
  text-decoration: none;
  color: white;
}

.menus_list {
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
  margin-top: -30px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .menus_list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.menus_list__block {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 3rem;
  position: relative;
  z-index: 1;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.resto_name_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .resto_recipe {
    display: flex;
    gap: 1rem;
  }
}

.resto_name {
  font-family: "Shrikhand", cursive;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .entreePlatDessert {
    width: 35%;
  }
}

.entreePlatDessert h4 {
  font-weight: 100;
  font-family: "Roboto", sans-serif, "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.dash {
  display: flex;
  height: 3px;
  width: 30px;
  background-color: #99E2D0;
  margin-bottom: 1.5rem;
}

.card_recipe {
  padding: 0.75rem;
  border: none;
  color: #000;
  background-color: #f6f6f6;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  margin-bottom: 1rem;
  border-radius: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  animation: card_recipeFadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transform: translateY(100px);
}
.card_recipe:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.329);
  transition: 0.5s;
}
.card_recipe:hover .checked {
  animation: move 600ms linear forwards, fadeIn 1s forwards;
}
.card_recipe:hover .recipeBaseline {
  transition: 1s;
  padding-right: 3.5rem;
}
.card_recipe:hover h4 {
  transition: 1s;
  padding-right: 3.5rem;
}
.card_recipe h4 {
  text-align: left;
  font-size: 1.125rem;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
}

.recipeBaseline {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
.recipeBaseline .dish {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checked {
  width: 3.5rem;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  position: absolute;
  right: -3.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.checked i {
  margin: 0;
  color: white;
  font-size: 1.25rem;
  transform: rotate(-359deg);
}

@keyframes card_recipeFadeIn {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes move {
  0% {
    transform: translateX(-1rem);
  }
  50% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(-3.5rem);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.card_recipe:hover i {
  transform: translateX(-3.5rem);
  animation: spin 600ms linear forwards;
}

@keyframes spin {
  0% {
    transform: rotate(-359deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*# sourceMappingURL=style.css.map */
