@charset "UTF-8";
body {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  font-family: "Shrikhand", cursive;
  color: #3e3e3e;
  font-size: 1.5rem;
  padding: 0.75rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  border: none;
  color: #f7f7f7;
  background-color: #f7f7f7;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: bold;
  transition: transform 1000ms ease-in-out;
}
.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.329);
  transform: scale(1.2);
}
.btn--mb {
  margin-top: 0.5rem;
}
.btn--full-width {
  width: 100%;
}
.btn--rounded {
  border-radius: 30px;
}
.btn--purple {
  background-image: linear-gradient(-10deg, #9356dc, #ff79da);
}
.btn--blue {
  padding: 0.75rem 1.5rem;
  border: none;
  color: blue;
  background-color: #f7f7f7;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: bold;
  transition: transform 1000ms ease-in-out;
}
.btn--blue:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.329);
  transform: scale(1.2);
}
.btn--blue--mb {
  margin-top: 0.5rem;
}
.btn--blue--full-width {
  width: 100%;
}
.btn--blue--rounded {
  border-radius: 30px;
}
.btn--blue--purple {
  background-image: linear-gradient(-10deg, #9356dc, #ff79da);
}

.card {
  padding: 0.75rem;
  border: none;
  color: #000;
  background-color: #f7f7f7;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: 600;
  position: relative;
}
.card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.329);
  transition: 0.5s;
}
.card::before {
  content: "1";
  position: absolute;
  left: -0.5rem;
  top: 1.5rem;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  text-align: center;
  line-height: 1.1rem;
  background-color: #9356DC;
  color: #f7f7f7;
}
.card--mb {
  margin-bottom: 1rem;
}
.card--full-width {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.card--rounded {
  border-radius: 1rem;
}

.card_resto {
  max-height: 200px;
  width: 100%;
  max-width: 500px;
  padding: 0.25rem;
  border: none;
  color: #000;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  text-align: left;
}
.card_resto:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.329);
  transition: 0.5s;
}
.card_resto--mb {
  margin-bottom: 1rem;
}
.card_resto--rounded {
  border-radius: 1rem;
}

.card__resto__img {
  width: 33%;
  min-height: 100px;
  max-height: 135px;
  object-fit: cover;
  border-radius: 1rem;
}

.card_resto_desc {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card_resto_desc p::before {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
  margin-right: 0.75rem;
  width: 1rem;
}
.card_resto_desc p::after {
  content: "🌸";
  color: transparent;
  font-weight: 900;
  margin-left: 0.75rem;
  width: 1rem;
}

.card__resto___desc__nom {
  font-family: "Shrikhand", cursive;
  font-size: 1.2rem;
  margin: 0;
}

.card__resto___desc__address {
  font-size: 0.75rem;
}

.card__resto___desc__recommendations {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.header {
  text-align: center;
  border-bottom: solid 3px #dfdfdf;
}

.location {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ededed;
  font-size: 0.8rem;
  color: #555454;
}
.location::before {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
  margin-right: 0.75rem;
  font-size: 1rem;
}
.location::after {
  content: "🌸";
  color: transparent;
  font-weight: 900;
  margin-left: 0.75rem;
  width: 1rem;
}

.accueil {
  text-align: center;
  background-color: #f7f7f7;
  padding: 2rem;
}
.accueil__titre {
  font-size: 1.5rem;
  margin-top: 0;
}
.accueil__sousTitre {
  font-size: 0.8rem;
  color: #999999;
}
.accueil--back-coloured {
  background-color: #f7f7f7;
}

.cards {
  width: 90%;
  margin: 3rem auto;
  max-width: 1024px;
}
.cards--colored {
  background-color: #99E2D0;
}
.cards_container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 920px) {
  .cards_container {
    flex-direction: row;
    gap: 2rem;
  }
  .cards_container_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card__text::before {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
  margin-right: 1rem;
  width: 1rem;
}
.card__text::after {
  content: "🌸";
  color: transparent;
  font-weight: 900;
  margin-left: 1rem;
  width: 1rem;
}

.progress {
  height: 200px;
  width: 100%;
  background-color: #f2f2f2;
}
.progress:hover > .progress__bar {
  transform: scaleX(1);
}
.progress__bar {
  height: 80%;
  transform: scaleX(0);
  transition: transform 1000ms;
}

footer {
  background-color: #f2f2f2;
}

.container_footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 50px;
  line-height: 2em;
}

footer .column {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Raleway_Bold";
  font-size: 1.2em;
  margin-left: 0;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 100%;
}

.btnn {
  max-width: 100px;
  background-color: green;
  border: 1px solid green;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 1rem;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  transition: transform 400ms;
}
.btnn:hover {
  transform: scale(1.15);
}

/*# sourceMappingURL=style.css.map */
