.card {
  @include card;
}

.card_resto {
  @include card_resto;
}

.card__resto__img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 1rem;
}

.card_resto_desc {
  margin-left: 1rem;
  p {
    &::before {
      content: "🌸";
      font-weight: 900;
      margin-right: 0.75rem;
      width: 1rem;
    }
    &::after {
      content: "🌸";
      color: transparent;
      font-weight: 900;
      margin-left: 0.75rem;
      width: 1rem;
    }
  }
}

.card__resto___desc__nom {
  @include font--logo;
  font-size: 1.5rem;
  margin: 0;
}

.flex {
  display: flex;
}
